.btn {
  padding: 14px $spacing16 * 2;
  line-height: 24px;
	border-width: 0 0 2px 0;
  transition: $transition-default;

  &:active,
  &.active { box-shadow: none; }

  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus { outline: none; }
}

.btn-lg,
.btn-group-lg > .btn {
	padding: 22px $spacing16 * 2;
	font-size: $body-text-size;
	font-weight: $weight-bold;
	border-radius: $border-radius-base;
}

.btn-lg {
  margin-bottom: $spacing16 / 2;
  line-height: 20px;

  &.btn-link {
    padding-left: 0;
    padding-right: 0;
    font-weight: $weight-normal;
  }

  &.btn-back {
    background: none;
    padding-left: 0;
    padding-right: 0;
  }
}

.btn-accent {
  background-color: $brand-accent;
  color: $gray-dark;
  border-color: #F5A728;

  &:hover,
  &:active,
  &:focus {
    background-color: #F4B11F;
  }

  &[disabled] { background-color: $brand-accent; }
}

.btn-white {
  background-color: white;
  color: $brand-primary;

  &:hover {
    color: $brand-primary;
    opacity: .75;
  }
}

.btn-ghost {
  background: none;
  border-width: 1px;
  border-style: solid;
  box-shadow: none;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background: none;
  }

  &.btn-primary,
  &.btn-primary:active:focus {
    color: $brand-primary;
    border-color: $brand-primary;
  }

  &.btn-primary:hover {
    color: $btn-primary-border;
    border-color: $btn-primary-border;
  }

  &.btn-danger,
  &.btn-danger:active:focus {
    color: $brand-danger;
    border-color: $brand-danger;
  }

  &.btn-danger:hover {
    color: $btn-danger-border;
    border-color: $btn-danger-border;
  }

  &.btn-white,
  &.btn-white:active:focus {
    color: white;
    border-color: white;
  }

  &.btn-white:hover {
    opacity: .75;
  }
}

.navbar-btn {
  padding: $spacing12 / 2 $spacing16;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 1px;

  &.pull-right { margin-left: $spacing16 / 2; }

  + .navbar-nav { margin-right: 0; }
}

a { transition: $transition-default; }

.link { text-decoration: underline; }

.link-heading {
  margin-left: $spacing12 / 2;
  font-size: $body-text-size;
  font-weight: $weight-normal;
  text-transform: none;
  text-decoration: underline;
}