//== Panels
//

.panel {
  display: block;
	border: none;
	box-shadow: none;

  .panel {
    margin-bottom: $spacing16 * 4;
  }

  &.panel--login {
    @media (min-width: $screen-sm-min) {
      margin-bottom: $spacing16 * 7;
    }

    @media (max-width: $screen-xs-max) {
      .panel {
        margin-bottom: 0;
      }
    }
  }

	> .panel-heading {
		background-color: $brand-primary-light;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: $spacing16 / 2;
    margin-bottom: $spacing12 * 2;
		border-bottom: none;

    @media (min-width: $screen-sm-min) {
      margin-bottom: $spacing16 * 2;
    }
	}
}

.well {
  background-color: $brand-primary;
  padding: $spacing12 * 2;
  margin-bottom: $spacing12 * 2;
  color: white;
  border: none;
  box-shadow: none;
}